{% extends 'base.html.twig' %}

{% block title %}Gestion des droits d'accès - TaskLinker
{% endblock %}

{% block body %}


	<form name="task" method="post" action="{{ path('task_edit', {'id': task.id}) }}">
		<input
		type="hidden" name="_token" value="{{ csrf_token('edit' ~ task.id) }}">
		<!-- CSRF token to ensure the form is submitted securely.-->
		{{ form_start(form) }}
		{{ form_widget(form) }}
		<br>
		<button class="button button-submit">Modifier</button>
		<a href="{{ path('task_delete', { 'id': task.id }) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ceette tache ?');" class="delete-task">Supprimer la tâche</a>
	</form>
</form></div></div>{% endblock %}
