{% extends 'base.html.twig' %}

{% block title %}Créer une tâche - TaskLinker
{% endblock %}

{% block body %}
	<form name="task" method="post" action="{{ path('task_add', {'projectId': project.id}) }}">
		<input
		type="hidden" name="_token" value="{{ path('task_add', { 'projectId': project.id }) }}">
		<!-- CSRF token to ensure the form is submitted securely.-->
		{{ form_start(form) }}
		{{ form_widget(form) }}
	</br>
	<button class="button button-submit">Ajouter</button>
	{{ form_end(form) }}
{% endblock %}
