{% extends 'base.html.twig' %}

{% block title %}Équipe
{% endblock %}

{% block body %}
	

	<table id="team-container">
		<thead>
			<tr>
				<th>Prénom, Nom</th>
				<th>Statut</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for employee in employees %}
				<tr>
					<td>
						<div class="employee-infos">
							<div class="employee-avatar">
								{{ employee.name|slice(0, 1) }}{{ employee.lastName|slice(0, 1) }}
							</div>
							<div class="employee-coords">
								<strong>{{ employee.name }}
									{{ employee.lastName }}</strong>
								<span>{{ employee.email }}</span>
							</div>
						</div>
					</td>
					<td>{{ employee.contract }}</td>
					<td>
						<a class="button button-edit-team" href="{{ path('employee_edit', { 'id': employee.id }) }}">
							Éditer
						</a>
						<a class="delete-team" href="{{ path('employee_delete', { id: employee.id }) }}">
							Supprimer
						</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="3">Aucun employé trouvé.</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
