{# templates/project/edit.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Nom du projet - TaskLinker
{% endblock %}

{% block body %}
	<form name="project" method="post" action="{{ path('project_edit', { 'id': project.id }) }}">
		<input
		type="hidden" name="_token" value="{{ csrf_token('project_edit') }}">
		<!-- CSRF token to ensure the form is submitted securely.-->
		{{ form_start(form) }}
		{{ form_widget(form) }}
	</br>
	<button class="button button-submit">Modifier</button>
	{{ form_end(form) }}
{% endblock %}
