{# templates/project/new.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Nouveau projet
{% endblock %}

{% block body %}


	<form name="project" method="post" action="{{ path('add_project') }}">
		<input
		type="hidden" name="_token" value="{{ csrf_token('add_project') }}">
		<!-- CSRF token to ensure the form is submitted securely.-->
		{{ form_start(form) }}
		{{ form_widget(form) }}
	</br>
	<button class="button button-submit">Continuer</button>
	{{ form_end(form) }}
</form>{% endblock %}
